%section.edit_monster_page
  %section.monster_summary{:id => "monster_summary_#{@monster.id}"}
    = render(:partial => '/monsters/monster_summary', :locals => { :monster => @monster })

  = render 'form'

  = button_to "Delete This Monster", @monster, :method => :delete

  = link_to 'Show', @monster
  \|
  = link_to 'Back', monsters_path
