%nav.actions= link_to(image_tag('new_monster.png'), new_monster_path)

%nav.tags
  %h1 Tags
  %ul
    - @user.tags.each do |tag|
      %li= link_to(tag.name, "/tag/#{tag.name}")

%nav.monsters
  - @monsters.each do |monster|
    %section.monster_summary{:id => "monster_summary_#{monster.id}"}
      = render(:partial => 'monster_summary', :locals => { :monster => monster })
