%nav.actions= link_to(image_tag('new_monster.png'), new_monster_path)

%nav.tags
  %h1 Tags
  %ul
    - if @tag
      %li= link_to('All Monsters', monsters_path)
    - else
      %li.selected= link_to('All Monsters', monsters_path)
    - @user.tags.each do |tag|
      - if @tag and @tag == tag
        %li.selected= link_to(tag.name, tag_path(tag))
      - else
        %li= link_to(tag.name, tag_path(tag))

%nav.monsters
  - @monsters.each do |monster|
    %section.monster_summary{:id => "monster_summary_#{monster.id}"}
      = render(:partial => '/monsters/monster_summary', :locals => { :monster => monster })
