%p
  %b Name:
  = @monster.name
%p
  %b Level:
  = @monster.level
%p
  %b Role:
  = @monster.subrole
  = @monster.role
%p
  %b XP:
  = @monster.xp
%p
  %b HP:
  = @monster.hp

- if @current_user
  %aside.tags
  - @monster.tags.each do |tag|
    = tag.name

  %nav.controls
    = link_to 'Edit', edit_monster_path(@monster)
    \|
    = link_to 'Back', monsters_path
- elsif @monster.user
- else
  %section.save_monster
    %h1 Save this Monster for Later
    = form_for(@user, :url => user_save_monster_path(:monid => @monster.id)) do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} found regarding this email address:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :email
        = f.text_field :email, :autofocus => true, :class => :text
      .actions
        = f.submit 'Save'
    
