%section#content_monsters_show

  %section.monster_preview_area
    %section.monster_summary{:id => "monster_summary_#{@monster.id}"}
      = render(:partial => '/monsters/monster_summary', :locals => { :monster => @monster })

  - if @current_user
  - elsif @monster.user
  - else
    %section.save_monster
      %h1 Save this Monster for Later
      = form_for(@user, :url => user_save_monster_path(:monid => @monster.id)) do |f|
        .field
          = f.label :email
          = f.text_field :email, :autofocus => true, :class => :text
        .actions
          = f.submit 'Save'
      
