.content

  %section.description
    %h1 Saving Monster
    %p Please choose a password to protect your monster.

  %section.form
    = form_for @user do |f|
      = hidden_field_tag 'monid', @monster.id
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :email
        = f.text_field :email, :value => @user.email, :class => :text
      .field
        = f.label :password
        = f.password_field :password, :autofocus => true, :class => :text
      .field
        = f.label :password_confirmation, :class => :text
        = f.password_field :password_confirmation, :class => :text
      .actions
        = f.submit 'Save'

