<!DOCTYPE html>
<html>
<head>
  <title>Monsterbank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] -%>
    <div id="notice"><%= flash[:notice]%></div>
  <% end -%>
  <% if flash[:error] -%>
    <div id="error"><%= flash[:error]%></div>
  <% end -%>
  <div class="container">
    <article class="content">
    </article>
  </div>

<%= yield %>

<% if current_user -%>
  <a href="/signout">Log Out</a>
<% else -%>
  <a href="/signin">Sign in</a>
<% end -%>

</body>
</html>
