!!! HTML
!!!
%html
  %head
    %title MonsterBank
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container#container
      %header
        = link_to(image_tag('monsterbank_logo.png'), root_url)
        %nav.actions= link_to(image_tag('new_monster.png'), new_monster_path)

      - if flash[:notice]
        #notice
          = flash[:notice]
      - if flash[:error]
        #error
          = flash[:error]
      - if @user and @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      - if @monster and @monster.errors.any?
        #error_explanation
          %h2= "#{pluralize(@monster.errors.count, "error")} prohibited this monster from being saved:"
          %ul
            - @monster.errors.full_messages.each do |msg|
              %li= msg
      .content
        = yield
    %footer#footer
      - if current_user
        = link_to 'Log Out', logout_path
